---
import ContentLayout from '@/layaouts/ContentLayout.astro';
import MainLayout from '@/layaouts/MainLayout.astro';

console.log(`Pagina del home`);
---

<MainLayout>
  <ContentLayout>
    <h1 class="text-2xl">Principal</h1>
  </ContentLayout>
</MainLayout>
